---
layout: default
---

<head>
  <meta http-equiv='cache-control' content='no-cache'> 
  <meta http-equiv='expires' content='0'> 
  <meta http-equiv='pragma' content='no-cache'>
</head>


<style>
   #table tr {
    height: 50px; /* Fixed row height */
  }

  #table td {
    vertical-align: middle; /* Align content in the middle */
  }

  #table .fas {
    margin-right: 10px; /* Space between icon and text */
  }
.label-badge {
  background-color: transparent; /* Transparent background */
  color: #007bff; /* Blue text, assuming you want to keep the text color similar to the original background */
  padding: 2px 8px; /* Padding inside the badge */
  border-radius: 15px; /* Rounded corners */
  font-size: 12px; /* Font size */
  margin-right: 5px; /* Space between badges horizontally */
  margin-bottom: 1px; /* Space below each badge */
  display: inline-block; /* Align badges in line */
  border: 1px solid #007bff;
}
.card.rounded {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for shadow effect */
}

.card-text-custom{
    font-size:40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"  type="text/css" href="{{ '/assets/css/releasetable.css' | relative_url }}">

<div class="container-fluid">

 <div class="row mb-">
  <div class="col-md-4">
    <div class="card rounded">
      <div class="card-body">
        <h5 class="card-title">WorkItems In Review</h5>
        <p class="card-text-custom" id="openPRCount"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rounded">
      <div class="card-body">
        <h5 class="card-title">WorkItems Merged Recently</h5>
        <p class="card-text-custom" id="closedPRCount"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rounded">
      <div class="card-body">
        <h5 class="card-title">WorkItems with Failing Checks</h5>
        <p class="card-text-custom" id="workItemsFailing"></p>
      </div>
    </div>
  </div>

  </div>
 </div>

  <div class="row" style="margin-top:30px">
      <div class="col-md-12">
        <table id="reviewTable" class="table table-bordered">
          <thead>
            <tr>
              <th>Issue Number</th>
              <th>Issue Title</th>
              <th>Branch</th>
              <th>Author</th>
              <th>Labels</th>
              <th>Elapsed Time</th>
              <th>Checks</th>
              <th>Review Org</th>
            </tr>
          </thead>
          <tbody>
        
          {% for issue in site.data.prStatus.openPrs %}
              {% assign issueNumber= issue[0] %}
              {% assign issueDetails = site.data.prStatus.openPrs[issueNumber] %}
            <tr>
              <td><a href="{{ issueDetails.linkToIssue }}" target="_blank">{{ issueNumber }}</a></td>
              <td>{{ issueDetails.issueTitle }}</td>
              <td>{{ issueDetails.branch }}</td>
              <td>{{ issueDetails.author }}</td>
              <td>
                {% for label in issueDetails.labels %}
                  <span class="label-badge">{{ label.key }}</span>
                {% endfor %}
              </td>
              <td>{{ issueDetails.elapsedTime | divided_by: 1000 | date: '%T' }}</td>
              {% if issueDetails.checkStatus=='completed'  and issueDetails.checkConclusion == 'success' %}
                <td><i class="fas fa-check-circle" style="color:green"></i><a href="{{ issueDetails.validationActionLink }}" target="_blank"> Validation Job</a></td>
              {% elsif issueDetails.checkStatus=='completed'  and issueDetails.checkConclusion == 'failed' %}
                <td><i class="fas fa-clock" style="color:red"></i><a href="{{ issueDetails.validationActionLink }}" target="_blank"> Validation Job</a></td></td>
              {% elsif issueDetails.checkStatus=='in_progress' %}
                <td><i class="fas fa-solid fa-circle-half-stroke" style="color:orange"></i></i><a href="{{ issueDetails.validationActionLink }}" target="_blank"> Validation Job</a></td></td>
              {% else %}
                <td><i class="fas fa-solid fa-list" style="color:orange"></i></i><a href="{{ issueDetails.validationActionLink }}" target="_blank"> Validation Job</a></td>
              {% endif %}
              <td>
                {% assign matchedUrl = '' %}
                {% for entry in site.data.sandboxStatus.frontDoorUrl %}
                  {% if entry[1].issue == issueNumber %}
                    {% assign matchedUrl = entry[1].url %}
                    <a href="{{ matchedUrl }}" target="_blank">{{ entry[0] }}</a>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  
  </div>
 
  <div class="row" style="margin-top:100px">
    <div class="col-md-12">
        <table id="mergedTable" class="table table-bordered">
          <thead>
            <tr>
              <th>Issue Number</th>
              <th>Issue Title</th>
              <th>Branch</th>
              <th>Author</th>
              <th>Labels</th>
              <th>Elapsed Time</th>
              <th>Build Status</th>
            </tr>
          </thead>
          <tbody>
        
          {% for issue in site.data.prStatus.closedPrs %}
              {% assign issueNumber= issue[0] %}
              {% assign issueDetails = site.data.prStatus.closedPrs[issueNumber] %}
            <tr>
              <td><a href="{{ issueDetails.linkToIssue }}" target="_blank">{{ issueNumber }}</a></td>
              <td>{{ issueDetails.issueTitle }}</td>
              <td>{{ issueDetails.branch }}</td>
              <td>{{ issueDetails.author }}</td>
              <td>
                {% for label in issueDetails.labels %}
                  <span class="label-badge">{{ label.key }}</span>
                {% endfor %}
              </td>
              <td>{{ issueDetails.elapsedTime | divided_by: 1000 | date: '%T' }}</td>
              {% if issueDetails.mergeActionStatus=='completed'  and issueDetails.mergeActionConclusion == 'success' %}
                <td><i class="fas fa-check-circle" style="color:green"></i><a href="{{ issueDetails.buildActionLink }}" target="_blank">Build Job</a></td>
              {% elsif issueDetails.mergeActionStatus=='completed'  and issueDetails.mergeActionConclusion == 'failed' %}
                <td><i class="fas fa-clock" style="color:red"></i><a href="{{ issueDetails.buildActionLink }}" target="_blank">Build Job</a></td></td>
              {% elsif issueDetails.mergeActionStatus=='in_progress' %}
                <td><i class="fas fa-solid fa-circle-half-stroke"></i>" style="color:orange"></i><a href="{{ issueDetails.buildActionLink }}" target="_blank">Build Job</a></td></td>
              {% else %}
                <td><i class="fas fa-solid fa-list" style="color:orange"></i></i><a href="{{ issueDetails.buildActionLink }}" target="_blank"> Build Job</a></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>

 
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('#reviewTable').DataTable({
      "order": [[0, "desc"]] ,
      "paging":true,
    });
    $('#mergedTable').DataTable({
      "order": [[0, "desc"]] ,
      "paging":true,
    });

    function updateInfoCards() {
        let prStatus = {{ site.data.prStatus | jsonify }};
        //Count the number of keys in the object
        let openPRCount = Object.keys(prStatus.openPrs).length;
        let closedPRCount = Object.keys(prStatus.closedPrs).length;
        let workItemsFailing = 0;
        for (let issue in prStatus.openPrs) {
          if (prStatus.openPrs[issue].checkStatus == 'completed' && prStatus.openPrs[issue].checkConclusion == 'failed') {
            workItemsFailing++;
          }
        }

        $('#openPRCount').text(openPRCount);
        $('#closedPRCount').text(closedPRCount);
        $('#workItemsFailing').text(workItemsFailing);
    }

   updateInfoCards();
  });
</script>
