---
layout: default
---

<head>
  <meta http-equiv='cache-control' content='no-cache'> 
  <meta http-equiv='expires' content='0'> 
  <meta http-equiv='pragma' content='no-cache'>
</head>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"  type="text/css" href="{{ '/assets/css/releasetable.css' | relative_url }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-diff.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/diff-highlight/prism-diff-highlight.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/diff-highlight/prism-diff-highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.1.0/diff.js"></script>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <table id="releasesTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
               <th>
                Work Items
              </br>
              (Introduced in this release)
              </th>
              <th>
                Cumulative Work Items
              </br>
              (Compared to Last Deployed in Production)
              </th>
              <th>Linked with</th>
              <th>Changed Artifacts
                  </br>
                (Compared to Previous Release Candidate)
              </th>
              <th>Deployed To</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% assign releaseData = site.data.processedChangelog[page.branch][page.domain].releases %}
            {% assign reversed_releases = releaseData | reverse %}
            {% for release in  reversed_releases %}
             <tr data-hashid="{{ release.hashId }}" data-workitems="{{ release.workItems | jsonify | escape  }}">
              <td>
                <strong>{{ release.names[0] }}</strong>
                <button class="copy-button" onclick="copyToClipboard(event, '{{ release.names[0] }}')">
                  <i class="fas fa-copy"></i>
                </button>
              </td>
              <td>{{ release.date | date: "%Y-%m-%d %H:%M"  }}</td>
                            <td>
                <ul class="action-links" >
                  {% assign hasItems = false %}
                  {% for workItem in release.workItems %}
                    {% unless workItem == "" %}
                        <li><a href="{{ site.data.project.workItemUrl }}/{{ workItem[0] }}" target="_blank">{{ workItem[0] }}</a></li>
                        {% assign hasItems = true %}
                    {% endunless %}
                  {% endfor %}

                {% unless hasItems %}
                {% if releaseNamesInProd contains releaseName %}
                  <span><b>Last Deployed Release,Check Release Tab</b></span>
                  {% else %}
                    <span>No work items detected,Click to probe!</span>
                  {% endif %}
                {% endunless %}
                </ul>
              </td>
              <td>
                <ul class="action-links" >
                  {% assign hasItems = false %}
                  {% for workItem in release.cumulativeWorkItems %}
                    {% unless workItem == "" %}
                        <li><a href="{{ site.data.project.workItemUrl }}/{{ workItem[0] }}" target="_blank">{{ workItem[0] }}</a></li>
                        {% assign hasItems = true %}
                    {% endunless %}
                  {% endfor %}

                {% unless hasItems %}
                {% if releaseNamesInProd contains releaseName %}
                  <span><b>Last Deployed Release,Check Release Tab</b></span>
                  {% else %}
                    <span>No work items detected,Click to probe!</span>
                  {% endif %}
                {% endunless %}
                </ul>
              </td>
              <td>
                {% for workItem in release.cumulativeWorkItems %}                  
                    {% assign workitemId = workItem[0] %}
                    {% assign workitemDetails = site.data.crossDomainWorkItems[page.branch][workitemId] %}
                    {% if workitemDetails %}
                      <ul class="action-links">
                        {% for detail in workitemDetails %}
                          {% if detail.domain != page.domain %}
                          <li><a href="{{ site.url}}/releasedefns/{{page.branch}}/{{page.domain}}.html" target="_blank">{{ detail.domain }}:{{ detail.releaseName }}</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    {% endif %}
                {% endfor %}
              </td>
              <td>
                <ul class="action-links">
                {% if releaseNamesInProd contains releaseName %}
                <span><b>Last Deployed Release,Check Release Tab</b></span>
                {% else %}
                  {% for artifact in release.artifacts %}
                     {%if artifact.from != artifact.to %}
                      <li>{{ artifact.name }}:{{ artifact.version }}</li>
                      {% endif %}
                  {% endfor %}
                {% endif %}
                </ul>
              </td>
              <td>
                  {% for deployed in release.deployedTo %}
                      <span class="badge badge-info">{{ deployed }}</span>
                  {% endfor %}
              </td>
              <td>
                <ul class="action-links">
                {% if releaseNamesInProd contains releaseName %}
                  <li><a class="rollback-release" data-name="{{ release.names[0] }}" data-domain="{{ page.domain }}">🔄 Attempt a patch</a></li>
                {% else %}
                    <li><a class="initiate-release" data-name="{{ release.names[0] }}" data-domain="{{ page.domain }}">✅ Initiate Release</a></li>
                {% endif %}
                  <li><a class="sandbox-release" data-name="{{ release.names[0] }}" data-domain="{{ page.domain }}"> 🌵 Get it on my Sandbox</a></li>
                </ul>
              </td>
             </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

{% include modal.html %}

<script>

  var yamlDataMap = {};
  var latestReleaseInProd; 
  {% assign domain_data = site.data.releasechangelog[page.branch][page.domain] %}
  {% assign releasesInProd = site.data.releaselogs.prod[page.domain].orgs[0].releases  %}
  {% assign reversed_releases = domain_data.releases | reverse %}
  {% assign releaseNamesInProd = "" %}
  {% for release in releasesInProd %}
    {% for name in release.names %}
      {% capture releaseNamesInProd %}{{ releaseNamesInProd }}{{ name }},{% endcapture %}
    {% endfor %}
  {% endfor %}

 
  
  {% assign reversed_releases = domain_data.releases | reverse %}
 
  {% for release in reversed_releases %}
      {% assign release_name = release.names[0] %}
      {% assign parts = release_name | split: '.' %}
      {% assign prefix = parts[0] %}
      {% assign rest = parts | slice: 1, parts.size | join: '.' %}
      {% assign resolved_file_name  = prefix | append: rest %}

      {% assign yaml_data = site.data.releasedefns[page.branch][page.domain][resolved_file_name] %}
      console.log({{ yaml_data | jsonify }});
      {% if yaml_data %}
        yamlDataMap["{{ release_name }}"] = {{ yaml_data | jsonify }};
      {% endif %}

      {% if releaseNamesInProd contains release_name %}
         latestReleaseInProd="{{ release_name }}"
         console.log("latestReleaseInProd",latestReleaseInProd);
       {% break %}
      {% endif %}

  {% endfor %}


  let releaseDataMap = []
  $(document).ready(function () {

    {% assign domain_data = site.data.releasechangelog[page.branch][page.domain] %}
    {% for release in domain_data.releases %}
      releaseDataMap["{{ release.hashId }}"] = {{ release | jsonify }};
    {% endfor %}

    

    $('#releasesTable').DataTable({
      "ordering":false
    });


    $('#releasesTable').on('click', 'tbody tr', function (event) {
      if ($(event.target).closest('.action-links').length) {
        return; // Skip if it's an action link click
      }

      const releaseId = $(this).data('hashid');
      const releaseData = releaseDataMap[releaseId];
      populateModal(releaseData);
      $('#releaseModal').modal('show');
    });


    $('#releasesTable').on('click', '.initiate-release', function () {
      const name = $(this).data('name');
      const domain = $(this).data('domain');
      const url = generateUrl('initiate', name, domain);
      window.open(url, '_blank');
    });

    $('#releasesTable').on('click', '.rollback-release', function () {
      const name = $(this).data('name');
      const domain = $(this).data('domain');
      const url = generateUrl('rollback', name, domain);
      window.open(url, '_blank');
    });

    $('#releasesTable').on('click', '.sandbox-release', function () {
      const name = $(this).data('name');
      const domain = $(this).data('domain');
      const url = generateUrl('sandbox', name, domain);
      window.open(url, '_blank');
    });


    
    $('#releasesTable').DataTable().rows().every(function () {
      var dateCell = this.data()[1]; // Assuming date is in the 2nd column
      var localDate = new Date(dateCell).toLocaleString();
      this.data()[1] = localDate;
      this.invalidate(); // Invalidate to re-draw
    });  
  
   
  });



  function generateUrl(action, name, domain) {
      const repoData = {{ site.data.project | jsonify}}
      const repoUrl = repoData.url;
      let issueTemplate;
      let labels;
      let tittle;
      let additionalParams;
      switch (action) {
        case 'initiate':
          issueTemplate = 'request-a-release-release-envs.yml';
          labels="ops%2Cops-release-request"
          title=`Ops+-+Release+a+domain+into+staging%2Fprod+${domain}+${name}`
          additionalParams = `domain=${domain}&releasedefn=${name}`
          break;
        case 'rollback':
           issueTemplate = 'request-a-release-branch.yml';
           labels="dev%2Cdev-release-branch-request"
           title=`Dev+-+Request+a+release+branch+from+a+release definition+${domain}+${name}`
           additionalParams = `domain=${domain}&releasedefn=${name}` 
          break;
        case 'sandbox':
          issueTemplate = 'request-a-release.yml';
          labels='labels=ops%2Cops-release-request-non-pipeline-env';
          title='Ops+-+Request+a+release+into+an+org'
          additionalParams = `domain=${domain}&releasedefn=${name}`;
          break;
      }

      return `${repoUrl}/issues/new?labels=${labels}&template=${issueTemplate}&title=${title}&${additionalParams}`;
  }

  async function copyToClipboard(event,text) {
  event.stopPropagation()
    try {
        await navigator.clipboard.writeText(text);
        alert('Copied to clipboard: ' + text);
    } catch (err) {
        console.error('Failed to copy text: ', err);
    }
  }
  
</script>