---
layout: default
---
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"  type="text/css" href="{{ '/assets/css/releasetable.css' | relative_url }}">






<table id="releasesTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Work Items</th>
      <th>Changed Artifacts</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% assign domain_data = site.data.releaselogs.prod[page.domain]    %}
    {% assign reversed_releases = domain_data.releases  %}




    {% assign prev_artifacts = nil %}

    {% for release in reversed_releases %}
     {% assign index = forloop.index0 %}
      <tr data-hashid="{{ release.hashId }}" data-workitems="{{ release.workItems | jsonify | escape  }}">
        <td>
          <strong>{{ release.names[0] }}</strong>
          <button class="copy-button" onclick="copyToClipboard(event, '{{ release.names[0] }}')">
            <i class="fas fa-copy"></i>
          </button>
        </td>
        <td>{{ release.date |  date: "%b %d, %y" }}</td>
        <td>
          <ul class="action-links" >
            {% assign hasItems = false %}
            {% for workItem in release.workItems %}
              {% unless workItem == "" %}
                  <li><a href="{{ site.data.project.workItemUrl }}/{{ workItem[0] }}" target="_blank">{{ workItem[0] }}</a></li>
                  {% assign hasItems = true %}
              {% endunless %}
          {% endfor %}

          {% unless hasItems %}
              <span>No work items detected,Click to probe!</span>
          {% endunless %}
          </ul>
        </td>
        <td>
          <ul class="action-links">
            {% for artifact in release.artifacts %}
              {% assign artifact_changed = true %}
              {% if prev_artifacts != nil %}
                {% for prev_artifact in prev_artifacts %}
                  {% if prev_artifact.name == artifact.name and prev_artifact.version == artifact.version %}
                    {% assign artifact_changed = false %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if artifact_changed %}
                <li>{{ artifact.name }}:{{ artifact.version }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if forloop.last %}
            <ul class="action-links">
              <li><a class="rollback-release" data-name="{{ release.names[0] }}" data-domain="{{ page.domain }}">🔄 Attempt a patch</a></li>
            </ul>
          {% endif %}
        </td>
      </tr>
      {% assign prev_artifacts = release.artifacts %}
     {% endfor %}
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="releaseModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Release Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="releaseModalBody">
        <!-- Dynamic content will be inserted here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  let releaseDataMap = []
  $(document).ready(function () {

    {% assign domain_data = site.data.releaselogs.prod[page.domain] %}
    {% for release in domain_data.releases %}
      releaseDataMap["{{ release.hashId }}"] = {{ release | jsonify }};
    {% endfor %}

    

    $('#releasesTable').DataTable({
      order: [[0, 'desc']],
      columnDefs: [ 
      {
        targets: "_all",
        orderable: false
      }
      ],
    });


    $('#releasesTable').on('click', 'tbody tr', function (event) {
      if ($(event.target).closest('.action-links').length) {
        return; // Skip if it's an action link click
      }

      const releaseId = $(this).data('hashid');
      const releaseData = releaseDataMap[releaseId];
      populateModal(releaseData);
      $('#releaseModal').modal('show');
    });



    $('#releasesTable').on('click', '.rollback-release', function () {
      const name = $(this).data('name');
      const domain = $(this).data('domain');
      const url = generateUrl('rollback', name, domain);
      window.open(url, '_blank');
    });

    

    $('#releasesTable').DataTable().rows().every(function () {
      var dateCell = this.data()[1]; // Assuming date is in the 2nd column
      var localDate = new Date(dateCell).toLocaleString();
      this.data()[1] = localDate;
      this.invalidate(); // Invalidate to re-draw
    });  
  
   
  });



  function generateUrl(action, name, domain) {
      const repoData = {{ site.data.project | jsonify}}
      const repoUrl = repoData.url;
      let issueTemplate;
      let labels;
      let tittle;
      let additionalParams;
      switch (action) {
        case 'rollback':
           issueTemplate = 'request-a-release-branch.yml';
           labels="dev%2Cdev-release-branch-request"
           title=`Dev+-+Request+a+release+branch+from+a+release definition+${domain}+${name}`
           additionalParams = `domain=${domain}&releasedefn=${name}` 
          break;
       }
      return `${repoUrl}/issues/new?labels=${labels}&template=${issueTemplate}&title=${title}&${additionalParams}`;
  }

  function populateModal(release) {
    const repoData = {{ site.data.project | jsonify}}

   

    let htmlContent = `<strong>Name:</strong> ${release.names[0]}  <button class="copy-button" onclick="copyToClipboard(event, '${release.names[0]}')">
      <i class="fas fa-copy"></i>
      </button><br>   `;
    htmlContent += `<strong>Date:</strong> ${release.date}<br>`;
    htmlContent += `<strong>Work Items:</strong><ul>`;
    
    for (const workItem in release.workItems) {
      htmlContent+=`<li><a href="${repoData.workItemUrl}/${workItem}" target="_blank">${workItem}</a></li>`
    }
  
    htmlContent += `</ul>`;
    htmlContent += `<strong>Artifacts:</strong>`;
    
    release.artifacts.forEach(artifact => {
      if (artifact.commits.length === 0) {
        htmlContent += `<div>
          <button class="collapsible-content" onclick="toggleCollapsible(event)">
            <span class="plus">+</span> ${artifact.name} (Version: ${artifact.version})
          </button>
          <div class="content-detail">
            <h4>No diff/commit id's to display. The package build was triggered manually or some other process created a new version of the package, such as a change in sfdx-project.json or a runbook.</h4>
            <i class="fas fa-exclamation-circle"></i>
          </div>
        </div>`;
      } else {
        htmlContent += `<div>
          <button class="collapsible-content" onclick="toggleCollapsible(event)">
            <span class="plus">+</span> ${artifact.name} (Version: ${artifact.version})
          </button>
          <div class="content-detail">
            <table class="commitTable">
              <thead>
                <tr>
                  <th>Commit Id</th<
                  <th>Author</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                ${artifact.commits.map(commit => `
                  <tr>
                    <td><a href="${repoData.url}/commit/${commit.commitId}" target="_blank">${commit.commitId}</a></td>
                    <td>${commit.date}</td>
                    <td>${commit.author}</td>
                    <td>${commit.message}</td>
                  </tr>
                `).join('')}
              </tbody>
            </table>
          </div>
        </div>`;
      }
    });
  
    $('#releaseModalBody').html(htmlContent);
  }
  
  // Function to toggle collapsible content
  function toggleCollapsible(event) {
    const content = event.target.nextElementSibling;
    if (content.style.maxHeight) {
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  }
  
 async function copyToClipboard(event,text) {
  event.stopPropagation()
    try {
        await navigator.clipboard.writeText(text);
        alert('Copied to clipboard: ' + text);
    } catch (err) {
        console.error('Failed to copy text: ', err);
    }
  }
  
</script>